:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

body {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90vw;
	box-shadow: 4px -4px 17px -3px rgba(171, 171, 171, 0.75);
	-webkit-box-shadow: 4px -4px 17px -3px rgba(171, 171, 171, 0.75);
	-moz-box-shadow: 4px -4px 17px -3px rgba(171, 171, 171, 0.75);
}

.sidebar {
	grid-column: 1 / 2;
	box-shadow: 6px 3px 5px 2px rgba(171, 171, 171, 0.26);
	-webkit-box-shadow: 4px 3px 5px 2px rgba(171, 171, 171, 0.26);
	-moz-box-shadow: 4px 3px 5px 2px rgba(171, 171, 171, 0.26);
	background-color: #f9f9f9;
}

.preview {
	grid-column: 2 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

.paper {
	width: 210mm;
	height: 297mm;

	box-shadow: 3px 2px 15px 7px rgba(171, 171, 171, 0.29);
	-webkit-box-shadow: 3px 2px 15px 7px rgba(171, 171, 171, 0.29);
	-moz-box-shadow: 3px 2px 15px 7px rgba(171, 171, 171, 0.29);
}

.cv {
	padding: 70px 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.name {
	color: #535bf2;
	border-bottom: 1px solid #747bff;
}

.personal-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 30px;
}

.sectionHeader {
	display: flex;
	align-items: center;
}

.sectionBody {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.studySection,
.workSection {
	list-style: none;
	margin: 0;
	padding: 0;
}

.studySection > li,
.workSection > li {
	margin-bottom: 5px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h5 {
	color: #747bff;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
